Optional components

Hi there. I was experimenting with the library, which I might use in a project of mine, and I was wondering if there's any possibility to add optional components, that I can decide whether to include it or not.

Similar to `r-components` or `q-components` defined in [Section 2.3 of RFC-8141](https://www.rfc-editor.org/rfc/rfc8141.html#section-2.3) (that obsoleted 2141).

There is no support for things like r- or q-components as-is. I achieved something similar to q-components for a private app by wrapping urn-lib and using url search params e.g. `urn:a:b:c/hello?target=world`. This was before I was aware of 8141, but It worked well enough.

Yikes... I just realized I never moved beyond alpha v2. I'll take a look at adding an 8141 target mode config option or something when I get a chance, but a PR is definitely welcome.